naim_google_slides/cle_api.json
naim_google_slides/webhook_api.js
naim_google_slides/client_secret_916689696131-obaj2l7v3a9sgjrroo6r5f8fkgn8526m.apps.googleusercontent.com (1).json
naim/.env
assistant_khali/Assistant_Khali.py
